<!----------------Footer-Section----------------->
<section id="Footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="footer-part-1">
					<ul>
						<li><img class="logo-set" src="./assets/img/logo.png"></li>
						<li>
							<p>Enriching the lives of consumers through innovative technology that inspires faith,
								builds community and stimulates commerce.
							<p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-2">
				<div class="footer-part-2 same-one">
					<h3>Site Map</h3>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">About us</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">Contact us</a></li>

					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="footer-part-3 same-one">
					<h3>Contact Us</h3>
					<ul>

						<li><a href="https://triadmobilenetworks.com/contact-us/" target="_blank">General Inquiries</a>
						</li>
						<li><a href="https://triadmobilenetworks.com/contact-us/" target="_blank"></a></li>

					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="footer-part-4 same-one">
					<h3>Follow us</h3>
					<ul>
						<li><a href="">
								<div class="socail-tnk"><i class="fab fa-facebook-f"></i></div>
							</a></li>
						<li><a href="">
								<div class="socail-tnk"><i class="fab fa-twitter"></i></div>
							</a></li>
						<li><a href="">
								<div class="socail-tnk"><i class="fab fa-instagram"></i></div>
							</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 end-set">
			<p>{{this.currentYear}} Triad Mobile Networks LLC. All Rights Reserved</p>
		</div>
	</div>
</div>
<!----------------Footer-End----------------->